html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.bg-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-image: url("../aboutus/image/overonsbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.background {
    width: 100%;
    display: block;
}

    /* planeet groen */
.planeetgroen {
    position: relative;
    top: -700px;
    left: 920px;
    z-index: 2;
}

.planeetgroen img {
    width: 300px;
}

.tekst-planeetgroen {
    position: absolute;
    bottom: 110%;
    left: 6%;
    transform: translateX(-50%);
    background: rgba(6, 233, 25, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;

    font-size: 20px;
    white-space: nowrap;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.planeetgroen:hover .tekst-planeetgroen {
    opacity: 1;
}

/* planeet oranje */
    .planeetoranje {
        position: relative;
        top: -950px;
        left: 1850px;
        z-index: 2;
    }
    
    .planeetoranje img {
        width: 300px;
    }
    
    .tekst-planeetoranje {
        position: absolute;
        bottom: 110%;
        left: 7%;
        transform: translateX(-50%);
        background: rgba(233, 127, 6, 0.8);
        color: white;
        padding: 8px 12px;
        border-radius: 6px;
    
        font-size: 20px;
        white-space: nowrap;
        text-align: center;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    
    .planeetoranje:hover .tekst-planeetoranje {
        opacity: 1;
    }

    /* planeet paars */
    .planeetpaars {
        position: relative;
        top: -1550px;
        left: 1350px;
        z-index: 2;
    }
    
    .planeetpaars img {
        width: 300px;
    }
    
    .tekst-planeetpaars {
        position: absolute;
        bottom: 110%;
        left: 7%;
        transform: translateX(-50%);
        background: rgba(123, 6, 233, 0.8);
        color: white;
        padding: 8px 12px;
        border-radius: 6px;
    
        font-size: 20px;
        white-space: nowrap;
        text-align: center;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    
    .planeetpaars:hover .tekst-planeetpaars {
        opacity: 1;
    }
            /* de zon */
            .planeetzon {
                position: absolute;
                top: 30%;
                left: -8%;
                z-index: 2;
            }
            
            .zon-hitbox {
                width: 600px;
                height: 600px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
            }
            
            .zon-hitbox img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
            
            /* popup */
            .tekst-planeetzon {
                position: absolute;
                bottom: 45%;
                left: 80%;
                transform: translateX(-50%);
                background: rgba(229, 233, 6, 0.887);
                color: black;
                padding: 8px 12px;
                border-radius: 6px;
                font-size: 20px;
                white-space: nowrap;
                text-align: center;
            
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;
            }
    
            .zon-hitbox:hover .tekst-planeetzon {
                opacity: 1;
            }
            