.main {
    display:block;
    
}
.links{
    position: absolute;
    top:1080px;
    left:47%;
}

.rechts{
        position: absolute;
        top:1080px;
        left:53%;
}

.music{ 
    position: absolute;
    top:920px;
    left:75%;
}

.video {
    position: absolute;
    top:496px;
    left:17%;
}
