.charissa{
    position: absolute;
    top:880px;
    left:3%;
}

.shanti{
    position: absolute;
    top:810px;
    left:25%;
}

.maurits{
    position: absolute;
    top:830px;
    left:51%;
}

.aboutus{
    position: absolute;
    top:868px;
    left:77%;
}